certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.4
commonmark==0.9.1
idna==3.3
numpy==1.21.3
pydantic==1.8.2
Pygments==2.11.2
pywikibot==6.6.1
regex==2021.10.23
requests==2.26.0
rich==11.0.0
typing-extensions==3.10.0.2
urllib3==1.26.7
wcwidth==0.2.5
wikitextparser==0.47.5
